{% extends "blog/base.html" %}

{% block title %}My Blog{% endblock %}

{% block content %}
  <h1 class="text-center text-info mb-4">My Blog</h1>
  {% for post in posts %}

  
    <div class="card col-md-6 m-3" style="width: 25rem;">
      <div class="card-body">
        <h5 class="card-title text-info">{{ post.title }}</h5>
        <p class="date">Published {{ post.publish }} by {{ post.author }}.</p>
        <p>{{ post.body|truncatewords:30|linebreaks }}</p>
        <a href="{% url 'blog:post_detail' post.id %}" class="btn btn-info text-light">Ver mas...</a>
      </div>
    </div>
 
   {% endfor %}
{% endblock %}  